<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

div {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
</style>
<body>

<div>
    <p>Данный ресурс предназначен для формирования заказов на доставку абсолютно любых вещей и продуктов.</p>
    <p>Заказать доставку можно одним из трех способов:</p>
    <br>
    <p>1. Используя данный ресурс. Для этого нужно перейти по ссылке</p>
    <button type="button" onclick="location.href='/index'">Сделать заказ</button>
    <br>
    <br>
    <p>2. По телефону 8 888 888 88 88</p>
    <br>
    <p>3. В телеграм боте. Введите в поиске telegram "Подручный бот" и следуйте инструкциям.</p>
    <br>
    <p>Обращаем ваше внимание, что при определенных суммах доставки может потребоваться предоплата заказа.</p>
</div>
</body>
</html>